@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body, html {
    height: 96vh !important;
    
    background-color: #000403 !important;
    font-family: "PT Mono", monospace !important;
    color: white !important;

    margin: 0px !important;

    @media (max-width: $mantine-breakpoint-md) {
        padding: 0px 20px 0px 20px;
    }
}